Invoice Workflow SBS (1).json
{
  "name": "Invoice Workflow SBS",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1ZFKQLszczUGEBf7wEIdXGL7qyYBVoetl",
          "mode": "list",
          "cachedResultName": "Invoice Workflow",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1ZFKQLszczUGEBf7wEIdXGL7qyYBVoetl"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -832,
        240
      ],
      "id": "cd54a5f0-21dd-4fc3-86ac-fbe2b3f99cf8",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "HbYUndRranvz6ynA",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -416,
        240
      ],
      "id": "2c07e610-8d65-41fb-bc8c-53f0c4fb9bcb",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "text": "={{ $json.text }}",
        "attributes": {
          "attributes": [
            {
              "name": "Invoice Number",
              "description": "The number of the invoice",
              "required": true
            },
            {
              "name": "Client Name",
              "description": "the name of the client",
              "required": true
            },
            {
              "name": "Client Email",
              "description": "the email of the client",
              "required": true
            },
            {
              "name": "Client Address",
              "description": "the address of the client",
              "required": true
            },
            {
              "name": "Client Phone",
              "description": "the phone number of the client",
              "required": true
            },
            {
              "name": "Total Amount",
              "description": "the total amount of the invoice",
              "required": true
            },
            {
              "name": "Invoice Date",
              "type": "date",
              "description": "the date the invoice was sent",
              "required": true
            },
            {
              "name": "Due Date",
              "type": "date",
              "description": "the date the invoice is due",
              "required": true
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "You are an expert extraction algorithm.\nOnly extract relevant information from the text.\nIf you do not know the value of an attribute asked to extract, you may omit the attribute's value."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1,
      "position": [
        -192,
        128
      ],
      "id": "9f1778ab-0788-400b-95a0-5434b6992ef3",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -192,
        400
      ],
      "id": "5d64c2ef-810a-4507-895f-d3f84396835e",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "NPYwx0AIWP1W17Pw",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1t2fhLPSXlOLMVAHVPU8pzCW9t8FlJ3WiIbeev3e2hYA",
          "mode": "list",
          "cachedResultName": "Invoice DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1t2fhLPSXlOLMVAHVPU8pzCW9t8FlJ3WiIbeev3e2hYA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1t2fhLPSXlOLMVAHVPU8pzCW9t8FlJ3WiIbeev3e2hYA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Invoice Number": "={{ $json.output['Invoice Number'] }}",
            "Client Name": "={{ $json.output['Client Name'] }}",
            "Client Email": "={{ $json.output['Client Email'] }}",
            "Client Address": "={{ $json.output['Client Address'] }}",
            "Client Phone": "={{ $json.output['Client Phone'] }}",
            "Total Amount": "={{ $json.output['Total Amount'] }}",
            "Invoice Date": "={{ $json.output['Invoice Date'] }}",
            "Due Date": "={{ $json.output['Due Date'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Invoice Number",
              "displayName": "Invoice Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Client Name",
              "displayName": "Client Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Client Email",
              "displayName": "Client Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Client Address",
              "displayName": "Client Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Client Phone",
              "displayName": "Client Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Total Amount",
              "displayName": "Total Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Invoice Date",
              "displayName": "Invoice Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Due Date",
              "displayName": "Due Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        160,
        240
      ],
      "id": "8ac7a50d-8818-4e14-8c24-b8f811aea185",
      "name": "Update DB",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YCS4WHDiEMV6e5OP",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -624,
        240
      ],
      "id": "a70fb914-e84e-42dc-939a-44c5eb1e1120",
      "name": "Download Binary",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "HbYUndRranvz6ynA",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Invoice Number{{ $json['Invoice Number'] }}\nClient Name{{ $json['Client Name'] }}\nClient Email{{ $json['Client Email'] }}\nTotal Amount{{ $json['Total Amount'] }}\nInvoice Date{{ $json['Invoice Date'] }}\nDue Date{{ $json['Due Date'] }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a helpful assistant for Aqeel Enterprises.You will receive invoice information.Your job is to send email and notify internal billing team that an invoice was received/sent.Reply with professional behavior and tell them in email this address of invoice that we have already saved it in database they can check https://docs.google.com/spreadsheets/d/1t2fhLPSXlOLMVAHVPU8pzCW9t8FlJ3WiIbeev3e2hYA/edit?gid=0#gid=0\nOutput\nYou must give only output in following parameters separatyly.\nSubject\nEmail"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        336,
        128
      ],
      "id": "11cd4d07-7f82-4aad-8031-b21e2a358593",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        256,
        432
      ],
      "id": "cb07c7b6-a4f4-48ff-a0c2-609e61ebd51d",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "NPYwx0AIWP1W17Pw",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        464,
        432
      ],
      "id": "c3caf5f1-2fda-4aa4-816f-a40d49cf4916",
      "name": "Send a message in Gmail",
      "webhookId": "5469aa8b-8687-4b85-b6a5-dcb191feb11e",
      "credentials": {
        "gmailOAuth2": {
          "id": "HWf0hZ7dTlTR93dr",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Update DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Binary": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update DB": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Send a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "accb7a52-19f8-41fc-af30-4c35d46f1459",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "99de3c76bdc59f5b05490016fe19441e3b0c95185b5a3af72342e97d195a9502"
  },
  "id": "NqPM1zVAA0gr3tSt",
  "tags": []
}